absl-py==2.5.0
astunparse==1.6.3
flatbuffers==24.3.25
gast==0.7.0
google-pasta==0.2.0
grpcio==1.82.1
h5py==3.16.0
keras==3.12.3
libclang==18.1.1
ml-dtypes==0.4.1
numpy==1.26.4
opt_einsum==3.4.0
packaging==26.2
protobuf==5.29.6
requests==2.34.2
scipy==1.15.3
six==1.17.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.3.0
tf_keras==2.18.0
typing_extensions==4.16.0
Werkzeug==3.1.8
wrapt==2.2.2
tqdm==4.66.2