opencv-python==4.11.0.86
tqdm>=4.60.0
tensorflow
tf_keras
onnx-graphsurgeon
psutil
ai-edge-litert
torch==2.11.0
torchvision==0.26.0
onnx==1.19.*
onnxruntime==1.23.0
onnxsim
onnx2tf
onnxscript==0.7.0
sng4onnx